.welcome {
    background-color: #eee;
    color: blue;
    font-size: x-large;
    text-align: center;
    height:max-content;
}
.i {
    display: block;
    font-size: large;
   
    text-align: center;
}
label {
    font-style: italic;
    margin-left: 50px;
    
}
