.welcome {
    background-color: burlywood;
    color: yellow;
    font-size: x-large;
}
.i {
    display: block;
    font-size: large;
   
    text-align: center;
}
label {
    font-style: italic;
    margin-left: 50px;
    
}
